@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/aspect-ratio';

html,
header {
	background-color: #030613;
}

* {
	border-color: #213c53;
	color: white;
	font-family: 'Roboto Mono';
}
